In [1]:
import pandas as pd
from pandas import DataFrame

In [2]:
school_data_df = pd.read_csv('Resources/schools_complete.csv')

In [3]:
student_data_df  = pd.read_csv('Resources/students_complete.csv')

In [4]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(school_data_df, student_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [5]:
# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

School ID        39170
school_name      39170
type             39170
size             39170
budget           39170
Student ID       39170
student_name     39170
gender           39170
grade            39170
reading_score    39170
math_score       39170
dtype: int64

In [6]:
school_data_complete_df["Student ID"].count()

39170

In [7]:
# Calculate the total number of schools.
school_count = school_data_df["school_name"].count()
school_count

15

In [8]:
# Calculate the total number of schools
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [9]:
len(school_data_complete_df["school_name"].unique())

15

In [10]:
# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [11]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [12]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [13]:
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70

In [14]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87

In [15]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

In [16]:
passing_math["student_name"].count()

29370

In [17]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

In [18]:
print(passing_math_count)
print(passing_reading_count)

29370
33610

In [19]:
school_data_complete_df["Student ID"].count()

39170

In [20]:
per_school_counts = school_data_complete_df ["school_name"].value_counts()

In [21]:
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [22]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / per_school_counts * 100
print(passing_math_percentage)
# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / per_school_counts * 100
print(passing_reading_percentage)

Bailey High School        590.233119
Johnson High School       616.887209
Hernandez High School     633.656958
Rodriguez High School     734.433608
Figueroa High School      995.930824
Huang High School        1006.856359
Ford High School         1072.289157
Wilson High School       1286.465177
Cabrera High School      1580.731970
Wright High School       1631.666667
Shelton High School      1667.802385
Thomas High School       1796.330275
Griffin High School      2000.681199
Pena High School         3053.014553
Holden High School       6878.220141
Name: school_name, dtype: float64
Bailey High School        675.442122
Johnson High School       705.944129
Hernandez High School     725.134844
Rodriguez High School     840.460115
Figueroa High School     1139.708376
Huang High School        1152.211176
Ford High School         1227.090179
Wilson High School       1472.185721
Cabrera High School      1808.934338
Wright High School       1867.222222
Shelton High School      1908.574673
Thomas High School       2055.657492
Griffin High School      2289.509537
Pena High School         3493.762994
Holden High School       7871.194379
Name: school_name, dtype: float64

In [23]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
passing_math_reading.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84

In [24]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25528

In [25]:
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

School ID        65.172326
school_name      65.172326
type             65.172326
size             65.172326
budget           65.172326
Student ID       65.172326
student_name     65.172326
gender           65.172326
grade            65.172326
reading_score    65.172326
math_score       65.172326
dtype: float64

In [26]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,School ID 39170 school_name 39170 ...,24649428,78.985371,81.87784,Bailey High School 590.233119 Johnson H...,Bailey High School 675.442122 Johnson H...,School ID 65.172326 school_name 65...

In [27]:
# Format the "Total Students" to have the comma for a thousands separator.
school_data_complete_df["Student ID"] = school_data_complete_df["Student ID"] .map("{:,}".format)

school_data_complete_df["Student ID"]

0             0
1             1
2             2
3             3
4             4
          ...
39165    39,165
39166    39,166
39167    39,167
39168    39,168
39169    39,169
Name: Student ID, Length: 39170, dtype: object

In [28]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object